.ids__space {
  height: calc(var(--ids__density) * 0.7em);

  &.XS {
    height: calc(var(--ids__density) * 0.2em);
  }
  &.M {
    height: calc(var(--ids__density) * 1.4em);
  }
  &.L {
    height: calc(var(--ids__density) * 2.4em);
  }
  &.XL {
    height: calc(var(--ids__density) * 4em);
  }
  
}

.ids__wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;

  @media (width < 767px) {
    width: 100%;
    padding: 0 calc(var(--ids__density) * 0.6em);
  }

  &.L {
    width: 100%;
    padding: 0 1em;

    @media (width < 767px) {
      padding: 0 0.5em;
    }
  }

  &.S {
    width: 60%;
    padding: 0 1em;

    @media (width < 767px) {
      width: 100%;
      padding: 0 calc(var(--ids__density) * 0.6em);
        }
  }

  &.XS {
    width: 50%;
    padding: 0 1em;

    @media (width < 767px) {
      width: 100%;
      padding: 0 calc(var(--ids__density) * 0.6em);
    }
  }


  & .ids__text-width {
    width: 85%;

    @media (width < 767px) {
      width: 100%;
    }
  }
}

html,
body {
  min-height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.site-footer-reveal__lift {
  flex: 1 0 auto;
}

[data-site-footer] {
  margin-top: auto;
}

