<footer>
  <h1 class="footer-brand">
    flowerdog 2024 → 2026
  </h1>
  <div class="footer-legal">
    <p class="caption footer-legal__item">
      <span data-i18n data-ru="ИП Туманов Дмитрий Олегович," data-en="Individual Entrepreneur Dmitry Olegovich Tumanov,">ИП Туманов Дмитрий Олегович,</span><br>
      <span data-i18n data-ru="ИНН 272198797725. Россия, Москва" data-en="TIN 272198797725, Russian Federation, Moscow">ИНН 272198797725. Россия, Москва</span>
    </p>
    <p class="caption footer-legal__item">
      <span data-i18n data-ru="ИП Новохатский Максим Дмитриевич," data-en="Novokhatskiy, IIN/BIN 990618350962,">ИП Новохатский Максим Дмитриевич,</span><br>
      <span data-i18n data-ru="ИИН/БИН: 990618350962. Казахстан, Астана" data-en="Republic of Kazakhstan, Astana">ИИН/БИН: 990618350962. Казахстан, Астана</span>
    </p>
  </div>
</footer>
