<footer>
  <h1 class="footer-brand">
    flowerdog 2024 → 2026
  </h1>
  <div class="footer-legal">
    <p class="caption footer-legal__item">
      <span data-i18n data-ru="Индивидуальный Предприниматель Туманов Дмитрий Олегович, ИНН 272198797725. Россия, Москва." data-en="Individual Entrepreneur Dmitry Olegovich Tumanov, TIN 272198797725, Russian Federation, Moscow.">Индивидуальный Предприниматель Туманов Дмитрий Олегович, ИНН 272198797725. Россия, Москва.</span><br>
      <span data-i18n data-ru="Индивидуальный Предприниматель Новохатский Максим Дмитриевич, ИИН/БИН: 990618350962. Казахстан, Астана" data-en="Individual Entrepreneur Maksim Dmitrievich Novokhatskiy, IIN/BIN 990618350962, Republic of Kazakhstan, Astana">Индивидуальный Предприниматель Новохатский Максим Дмитриевич, ИИН/БИН: 990618350962. Казахстан, Астана</span>
    </p>
  </div>
</footer>
